* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif; 
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: end;
    gap: 20px;
}

.control-options{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
    min-width: 50px;
    border-radius: 30px;
    padding-left: 18px;
    padding-right: 18px;

    cursor: pointer;
}

.control-options-text{
    font-size: 16px;
    font-weight: 500;
}

.seekbar-handler{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 6px;
    margin-top: 20px;
    cursor: pointer;
}

.seekbar {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background: #ccc;
}

.progress {
    position: absolute;
    height: 100%;
    background: #4c66af;
    width: 0;
    height: 100%;
    border-radius: 2px;
}

.progress-thumb{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #4c66af;
}